.navbar {
  @include defaultTransition();
  @apply bg-transparent w-full absolute top-0 left-0 z-50;

  &.scrolled {
    animation: navbar-scrolled 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    @apply bg-custom-white-900 fixed top-0 border-b border-custom-white-800;
  }

  &-container {
    @apply h-[75px] w-full max-w-[1440px] flex items-center justify-between px-6 mx-auto;
  }

  &-menu {
    @include defaultTransition();
    @apply absolute z-[-5] left-0 top-0 w-full h-screen opacity-0 invisible overflow-hidden;
    @apply md:static md:w-auto md:z-[unset] md:h-auto md:opacity-100 md:visible;

    &.active {
      @apply opacity-100 visible bg-black bg-opacity-25 md:bg-transparent;
    }

    > ul {
      @include defaultTransition();
      @apply absolute z-10 -right-[275px] top-0 h-screen overflow-y-auto bg-custom-white-900 w-full max-w-[250px] pt-[75px];
      @apply md:static md:right-[unset] md:top-[unset] md:bg-transparent md:w-auto md:max-w-[unset] md:h-auto md:flex md:items-center md:gap-6 md:pt-0;

      &.active {
        @apply right-0;
      }

      > li {
        > a {
          @include defaultTransition();
          @apply py-3 px-6 block relative;
          @apply md:py-1 md:px-1 lg:px-2;

          &::before {
            content: '';
            @include defaultTransition();
            @apply absolute z-10 bottom-1.5 left-6 w-0 h-[.1rem] bg-custom-black-900;
            @apply md:left-1 lg:left-2 md:bottom-0;
          }

          &.active {
            @apply text-custom-black-900;

            &::before {
              @apply w-8;
            }
          }
        }
      }
    }
  }

  &-burger {
    @apply cursor-pointer relative;
    @apply transition-all duration-300 ease-in-out;
    @apply flex items-center justify-center;
    @apply h-10 w-10;
    @apply md:hidden;

    > span {
      @include defaultTransition();
      @apply w-6 h-[0.1rem] bg-custom-black-900 absolute;

      &:nth-child(1) {
        animation: navbar-burger-icon-1 0.5s cubic-bezier(0.4, 0, 0.2, 1)
          forwards;
      }

      &:nth-child(3) {
        animation: navbar-burger-icon-3 0.5s cubic-bezier(0.4, 0, 0.2, 1)
          forwards;
        @apply w-4 ml-2;
      }
    }

    &.active {
      > span {
        &:nth-child(1) {
          animation-name: navbar-burger-icon-1\:active;
        }

        &:nth-child(2) {
          @apply w-0;
        }

        &:nth-child(3) {
          animation-name: navbar-burger-icon-3\:active;
        }
      }
    }
  }
}
