.tooltip {
  @apply relative h-auto;

  &-text {
    transition: all 0.3s ease-in-out;
    @apply py-1.5 px-4 text-sm bg-custom-black-500 whitespace-nowrap text-custom-white-900 absolute z-[5] opacity-0 invisible;
    bottom: -150%;
    right: -55%;

    &::before {
      content: '';
      @apply w-3 h-3 bg-custom-black-500 absolute z-[5] -top-[10%];
      right: 15px;
      transform: rotate(45deg);
    }

    &-center {
      transition: all 0.3s ease-in-out;
      @apply py-1.5 px-4 text-sm bg-custom-black-500 whitespace-nowrap text-custom-white-900 absolute z-[5] opacity-0 invisible;
      bottom: -150%;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: '';
        @apply w-3 h-3 bg-custom-black-500 absolute z-[5] -top-[10%];
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &-left {
      transition: all 0.3s ease-in-out;
      @apply py-1.5 px-4 text-sm bg-custom-black-500 whitespace-nowrap text-custom-white-900 absolute z-[5] opacity-0 invisible;
      bottom: -150%;
      left: -55%;

      &::before {
        content: '';
        @apply w-3 h-3 bg-custom-black-500 absolute z-[5] -top-[10%];
        left: 15px;
        transform: rotate(45deg);
      }
    }
  }

  &:hover {
    .tooltip-text {
      &,
      &-center,
      &-left {
        transition-delay: 0.25s;
        @apply opacity-100 visible;
        bottom: -250%;
      }
    }
  }
}
