.bg-noise {
  &-pink {
    background-image: url('../../img/bg-noise-pink.jpg');
    background-size: cover;
  }

  &-white {
    background-image: url('../../img/bg-noise-white.jpg');
    background-size: cover;
  }

  &-black {
    background-image: url('../../img/bg-noise-black.jpg');
    background-size: cover;
  }
}
