$breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
); // Same with default breakpoint tailwind.

@mixin breakpoint($breakpoint: 'min', $name: 'xs') {
  @if $breakpoint == 'min' {
    @media screen and (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    @media screen and (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}
